.navbar-nav .nav-link {
  padding-left: 18px !important;
  padding-right: 18px !important;
  color: white;
  font-size: 1.2rem;
  }
  
  body {
    font-family: 'Montserrat';
    background-color: #ff4c68;
  }
  
  .container-fluid {
    padding: 3% 15%;
  }
  
  #title {
    color: white;
  }
  
  .navbar {
    padding-bottom: 4.5rem;
  }

  .boton-nuevo {
    margin: 5% 3% 5% 0;
  }

  .rotar {
    transform: rotate(25deg);
  }

  section#features {
    background-color: #fff;
    padding: 50px 0;
    
  }

  section#features h3 {
    font-family: 'Montserrat';
    font-size: 1.5rem;
    font-weight: 700;
  }

  section#features i {
    color: #ef8172;
  }

  section#features i:hover {
    color: #ff4c68;
  }

  section#features p {
    color: #8f8f8f;
    font-family: 'Montserrat';
  }

  #testimonials {
    background-size: cover;
    background-position: center;
    background-color: #ef8172;
  }
  
  #press {
    background-color:#ef8172 !important;
  }

  #press img {
    margin: 10px;
    width: 150px;
    height: auto;
  }
  
  